@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: #287f65;
  }

  body[data-theme='dark'] {
    background-color: #003f2d;
  }

  .card {
    backdrop-filter: blur(24px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
  }

  .input,
  .select {
    color: white;
    opacity: 50%;
  }
}
